﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Muscular Dystrophy Association of New Zealand Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/Css/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="/Css/HomeLayout.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <header class="main__header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-brand-centered" style="width: 245px;height: 74px;">
                        <img src="/media/Images/menu/logo.jpg" class="img-thumbnail" >
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-brand-centered">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/mission-values">Mission & Values</a></li>
                                <li><a href="/media-releases-coverage">Media Releases & Coverage</a></li>
                                <li><a href="/history">History</a></li>
                                <li><a href="/national-office-branch-staff">National Offices & Branche Staff</a></li>
                                <li><a href="/mda-branches">MDA Branches</a></li>
                                <li><a href="/careers-current-roles-available-at-mda">Careers - Roles Available at MDA</a></li>
                                <li><a href="/governance">Governance</a></li>
                                <li><a href="/annual-reports-financial-info">Annual Reports & Financial Info</a></li>
                                <li><a href="/our-patrons">Our Patrons</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New Diagnosis <b class="caret"></b></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support and Information <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/condition-information">Condition Information</a></li>
                                <li><a href="/for-people-living-with-a-neuromuscular-condition">For people living with a neuromuscular condition</a></li>
                                <li><a href="/for-health-professionals">For Health Professionals</a></li>
                                <li><a href="/for-educators">For Educators</a></li>
                                <li><a href="/mda-support-network">MDA Support Network</a></li>
                                <li><a href="/mda-library">MDA Library</a></li>
                                <li><a href="/support-groups">Support Groups</a></li>
                                <li><a href="/sexuality">Sexuality</a></li>
                                <li><a href="/research-participation-opportunities">Research Participation Opportunities </a></li>
                                <li><a href="/conditions-supported-by-the-mda">Conditions Supported by the MDA</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">What we do <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/support-services">Support & Services</a></li>
                                <li><a href="/calendar-of-events">Calender of Events</a></li>
                                <li><a href="/2015-life-without-limits-neuromuscular-conference">2015 Life Without Limits<br />Neuromuscular<br />Conference</a></li>
                                <li><a href="/lobbying-and-national-advocacy">Lobbying and<br />National Advocacy</a></li>
                                <li><a href="/in-touch-magazine">In Touch Magazine</a></li>
                                <li><a href="/nz-neuromuscular-disease-registry">NZ Neuromuscular<br />Disease Registry</a></li>
                                <li><a href="/neuromuscular-research-foundation-trust">Neuromuscular<br />Research Foundation<br />Trust</a></li>
                                <li><a href="/telephone-donations">Telephone donations</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/donate">Donate</a></li>
                                <li><a href="/donate-online">Donate Online</a></li>
                                <li><a href="/annual-appeal-week-2016">Annual Appeal Week 2016</a></li>
                                <li><a href="/buy-nics-cookbook">Buy Nic's Cookbook</a></li>
                                <li><a href="/payroll-giving">Payroll giving</a></li>
                                <li><a href="/leaving-a-bequest">Leaving a Bequest</a></li>
                                <li><a href="/other-ways-to-give">Other ways to give</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tuumanako|Hope for the Future <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/donate">Donate</a></li>
                                <li><a href="/donate-online">Donate Online</a></li>
                                <li><a href="/annual-appeal-week-2016">Annual Appeal Week 2016</a></li>
                                <li><a href="/buy-nics-cookbook">Buy Nic's Cookbook</a></li>
                                <li><a href="/payroll-giving">Payroll giving</a></li>
                                <li><a href="/leaving-a-bequest">Leaving a Bequest</a></li>
                                <li><a href="/other-ways-to-give">Other ways to give</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">For professionals <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/fundraising-for-the-mda">Fundraising for<br />the MDA</a></li>
                                <li><a href="/volunteer-for-the-mda">Volunteer for<br />the MDA</a></li>
                                <li><a href="/become-a-corporate-partner">Become a Corporate<br />Partner</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support Us <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/in-touch-newsletters">In Touch &<br />Newsletters</a></li>
                                <li><a href="/national-council-agm">National Council &<br />AGM</a></li>
                                <li><a href="/strategic-plan">Strategic Plan</a></li>
                                <li><a href="/information-resources">Information<br />& Resources</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @*<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-brand navbar-brand-centered">
            <a href="/">
                <img src="/media/Images/menu/logo.jpg" class="img-thumbnail">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mission-values">Mission & Values</a></li>
                        <li><a href="/media-releases-coverage">Media Releases & Coverage</a></li>
                        <li><a href="/history">History</a></li>
                        <li><a href="/national-office-branch-staff">National Offices & Branche Staff</a></li>
                        <li><a href="/mda-branches">MDA Branches</a></li>
                        <li><a href="/careers-current-roles-available-at-mda">Careers - Roles Available at MDA</a></li>
                        <li><a href="/governance">Governance</a></li>
                        <li><a href="/annual-reports-financial-info">Annual Reports & Financial Info</a></li>
                        <li><a href="/our-patrons">Our Patrons</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">New Diagnosis <b class="caret"></b></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support and Information <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/condition-information">Condition Information</a></li>
                        <li><a href="/for-people-living-with-a-neuromuscular-condition">For people living with a neuromuscular condition</a></li>
                        <li><a href="/for-health-professionals">For Health Professionals</a></li>
                        <li><a href="/for-educators">For Educators</a></li>
                        <li><a href="/mda-support-network">MDA Support Network</a></li>
                        <li><a href="/mda-library">MDA Library</a></li>
                        <li><a href="/support-groups">Support Groups</a></li>
                        <li><a href="/sexuality">Sexuality</a></li>
                        <li><a href="/research-participation-opportunities">Research Participation Opportunities </a></li>
                        <li><a href="/conditions-supported-by-the-mda">Conditions Supported by the MDA</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/donate-online">Donate Online</a></li>
                        <li><a href="/annual-appeal-week-2016">Annual Appeal Week 2016</a></li>
                        <li><a href="/buy-nics-cookbook">Buy Nic's Cookbook</a></li>
                        <li><a href="/payroll-giving">Payroll giving</a></li>
                        <li><a href="/leaving-a-bequest">Leaving a Bequest</a></li>
                        <li><a href="/other-ways-to-give">Other ways to give</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">What we do <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/support-services">Support & Services</a></li>
                        <li><a href="/calendar-of-events">Calender of Events</a></li>
                        <li><a href="/2015-life-without-limits-neuromuscular-conference">2015 Life Without Limits<br />Neuromuscular<br />Conference</a></li>
                        <li><a href="/lobbying-and-national-advocacy">Lobbying and National Advocacy</a></li>
                        <li><a href="/in-touch-magazine">In Touch Magazine</a></li>
                        <li><a href="/nz-neuromuscular-disease-registry">NZ Neuromuscular Disease Registry</a></li>
                        <li><a href="/neuromuscular-research-foundation-trust">Neuromuscular Research Foundation Trust</a></li>
                        <li><a href="/telephone-donations">Telephone donations</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tuumanako|Hope for the Future <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/donate-online">Donate Online</a></li>
                        <li><a href="/annual-appeal-week-2016">Annual Appeal Week 2016</a></li>
                        <li><a href="/buy-nics-cookbook">Buy Nic's Cookbook</a></li>
                        <li><a href="/payroll-giving">Payroll giving</a></li>
                        <li><a href="/leaving-a-bequest">Leaving a Bequest</a></li>
                        <li><a href="/other-ways-to-give">Other ways to give</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">For professionals <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fundraising-for-the-mda">Fundraising for the MDA</a></li>
                        <li><a href="/volunteer-for-the-mda">Volunteer for the MDA</a></li>
                        <li><a href="/become-a-corporate-partner">Become a Corporate Partner</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support Us <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/in-touch-newsletters">In Touch &Aacute; Newsletters</a></li>
                        <li><a href="/national-council-agm">National Council &Aacute; AGM</a></li>
                        <li><a href="/strategic-plan">Strategic Plan</a></li>
                        <li><a href="/information-resources">Information &Aacute; Resources</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>*@

        @*<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-brand-centered">
                    <a href="/">
                        <img src="/media/Images/menu/logo.jpg" class="img-thumbnail">
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-brand-centered">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/mission-values">Mission & Values</a></li>
                            <li><a href="/media-releases-coverage">Media Releases & Coverage</a></li>
                            <li><a href="/history">History</a></li>
                            <li><a href="/national-office-branch-staff">National Offices & Branche Staff</a></li>
                            <li><a href="/mda-branches">MDA Branches</a></li>
                            <li><a href="/careers-current-roles-available-at-mda">Careers- Current Roles Available at MDA</a></li>
                            <li><a href="/governance">Governance</a></li>
                            <li><a href="/annual-reports-financial-info">Annual Reports & Financial Info</a></li>
                            <li><a href="/our-patrons">Our Patrons</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">New Diagnosis<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support and Information<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/condition-information">Condition Information</a></li>
                            <li><a href="/for-people-living-with-a-neuromuscular-condition">For people living with a neuromuscular condition</a></li>
                            <li><a href="/for-health-professionals">For Health Professionals</a></li>
                            <li><a href="/for-educators">For Educators</a></li>
                            <li><a href="/mda-support-network">MDA Support Network</a></li>
                            <li><a href="/mda-library">MDA Library</a></li>
                            <li><a href="/support-groups">Support Groups</a></li>
                            <li><a href="/sexuality">Sexuality</a></li>
                            <li><a href="/research-participation-opportunities">Research Participation Opportunities</a></li>
                            <li><a href="/conditions-supported-by-the-mda">Conditions Supported by the MDA</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Join<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/in-touch-newsletters">In Touch &Aacute; Newsletters</a></li>
                            <li><a href="/national-council-agm">National Council &Aacute; AGM</a></li>
                            <li><a href="/strategic-plan">Strategic Plan</a></li>
                            <li><a href="/information-resources">Information &Aacute; Resources</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">What We Do<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/support-services">Support & Services</a></li>
                            <li><a href="/calendar-of-events">Calender of Events</a></li>
                            <li><a href="/2015-life-without-limits-neuromuscular-conference">2015 Life Without Limits Neuromuscular Conference</a></li>
                            <li><a href="/lobbying-and-national-advocacy">Lobbying and National Advocacy</a></li>
                            <li><a href="/in-touch-magazine">In Touch Magazine</a></li>
                            <li><a href="/nz-neuromuscular-disease-registry">NZ Neuromuscular Disease Registry</a></li>
                            <li><a href="/neuromuscular-research-foundation-trust">Neuromuscular Research Foundation Trust</a></li>
                            <li><a href="/telephone-donations">Telephone donations</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tuumanako|Hope for the Future<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="/donate-online">Donate Online</a></li>
                            <li><a href="/annual-appeal-week-2016">Annual Appeal Week 2016</a></li>
                            <li><a href="/buy-nics-cookbook">Buy Nic's Cookbook</a></li>
                            <li><a href="/payroll-giving">Payroll giving</a></li>
                            <li><a href="/leaving-a-bequest">Leaving a Bequest</a></li>
                            <li><a href="/other-ways-to-give">Other ways to give</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">For professionals<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/fundraising-for-the-mda">Fundraising for the MDA</a></li>
                            <li><a href="/volunteer-for-the-mda">Volunteer for the MDA</a></li>
                            <li><a href="/become-a-corporate-partner">Become a Corporate Partner</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Support Us<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/fundraising-for-the-mda">Fundraising for the MDA</a></li>
                            <li><a href="/volunteer-for-the-mda">Volunteer for the MDA</a></li>
                            <li><a href="/become-a-corporate-partner">Become a Corporate Partner</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@
    </header>	
	<div id="body">							
    @RenderBody()
	@Umbraco.Field("test")								
	</div>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Please donate</h3>
                    <a href="~/PleaseDonate.cshtml">
                        <img src="/media/Images/footer/footer1.jpg" />
                    </a>
                </div>
                <div class="col-md-3">
                    <h3>Our Values</h3>
                    <p>
                        <script language="JavaScript">

                            var Fact = new Array() // do not change this!

                            // Set up the Facts to be shown, below.
                            // To add more Facts, continue with the
                            // pattern, adding to the array.  Remember
                            // to increment the Fact[x] index!

                            Fact[0] = "Empowering; people living with a neuromuscular condition will be supported to be as independent as possible, to have valued social roles, and to enjoy full rights of citizenship";
                            Fact[1] = "Whanau and family inclusive; the whanau and family of people with a neuromuscular condition will be supported appropriately to live fulfilling lives";
                            Fact[2] = "Consultative; members will be provided with clear information on all aspects of the Association, and will be given a clear sense of ownership for decisions that are made on their behalf, thereby providing a sense of belonging to an organisation which is member led";
                            Fact[3] = "Fair; the MDA will ensure that all members benefit equitably from the Association's resources, that they have equal opportunity to participate in the Association's decision making processes, and that they are appropriately enfranchised to vote on matters requiring member resolution";
                            Fact[4] = "Community minded; the MDA will foster a sense of community with and amongst its members";
                            Fact[5] = "Accountable; the MDA will be accountable to donors for the good stewardship of its resources, and to members for provision of services and operating in accordance with its stated values";
                            Fact[6] = "Informative; relevant information will be provided on neuromuscular conditions, their management and the impact they have on those living with a condition and their carers";
                            Fact[7] = "Proactive; the MDA will lobby the government and its ministries, in alliance with other organisations when appropriate, to ensure equality of opportunity, fair access to services and equipment for people living with a neuromuscular condition, and appreciation of members' views on issues affecting them ";

                            // ======================================
                            // Do not change anything below this line
                            // ======================================
                            var Q = Fact.length;
                            var whichFact = Math.round(Math.random() * (Q - 1));
                            function showFact() { document.write(Fact[whichFact]); }
                            showFact();
                        </script>
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>MDA News</h3>
                    <p>It’s been a long time coming but the new MDA website is here, thanks to our very clever and generous friends at ...</p>
                </div>
                <div class="col-md-3">
                    <h3>Social</h3>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        MDA National Office<br />
                        PO Box 12063, Penrose<br />
                        Auckland, 1642<br />
                        <br />
                        <i class="fa fa-phone"></i><a href="tel:+0800800337 "> 0800 800 337 </a><br/>                        
                    </p>
                    <div>
                        <a href="https://www.facebook.com/MDANationalOffice/" target="_blank">
                            <img src="/media/Images/footer/footer2.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <p class="text-center copyright"><i class="fa fa-copyright"></i> Copyright Muscular Dystrophy Association. All Rights Reserved.</p>									
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>   
    <script type="text/javascript" src="/Scripts/dc_accordion_toggle.js"></script>
</body>
</html>