﻿/*
Custom Styles. Bootstrap Styles are default'
*/
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}

@media(min-width:1200px) {
    .container {
        width: 1800px !important;
}
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;

    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -133px;
    }
}


/* Footer RSS */
.rssFeed a {
	text-decoration: none;
}
.rssFeed a:hover {
	color: #000;
	text-decoration: underline;
}

.rssHeader { padding: 0.2em 0; }


.rssBody ul { list-style: none; }
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssRow h4 { font-size: 1.1em; }
.rssRow div {
	font-size: 90%;
	margin: 0.2em 0 0.4em 0;
}

body {

    font-family: "Open Sans", Calibri, sans-serif;
	color: #6C6C6C;
	font-size: 18px;
	overflow-x: hidden !important;
    background-color:black;
}
/*Typography*/
a {
	color: #3eacf1;
}
a:hover {
	/*color: #3eacf1;*/
	text-decoration: none;
}
hr {
	border-color: #e5e5e5;
	margin: 10px 0 10px 0;
}
h1, h2, h3, h4, h5 {
	font-family: 'Arvo', serif;
	font-weight: bold;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	color: #333;
}
h1.page_title {
	text-transform: uppercase;
	color: #fff;
}
h2 {
	font-size: 32px;
	color: #333;
	font-weight: bold;
	line-height: 50px;
	text-transform: uppercase;
    margin-left:20px;
    margin-right:20px;
}
h2 small {
	color: #c7c7c7;
	font-size: 12px;
}
h2.page__title {
	font-size: 30px;
	border: 1px solid #333;
	font-weight: bold;
	padding: 0px 10px;
	display: inline-block;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 27px;
	color: #262626;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 110%;
}
h3 small {
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
	font-family: "Open Sans", sans-serif;
}
h3 a {
	color: #262626;
	line-height: 110%;
}
h3 a:hover {
	text-decoration: none;
	color: #3eacf1;
}
.typo {
	margin-top: 80px;
}
h4 {
	font-size: 22px;
	color: #d6d6d6;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
h4 a {
	color: #333;
	text-transform: none;
	font-weight: normal;
}
h4 a:hover {
	text-decoration: none;
	color: #3eacf1;
}
h5 {
	font-size: 18px;
	text-transform: uppercase;
	color: #33313a;
}
h2.with__margin {
	margin-top: 70px;
	margin-bottom: 0px;
}
h2.with__margin2 {
	margin: 50px 0;
}
p.small-paragraph {
	font-size: 14px;
	color: #d4d4d4;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
p.smaller {
	font-size: 16px;
	color: #bababa;
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
}
.relative_btn {
	position: absolute;
	left: 50%;
	margin-left: -90px;
	bottom: -35px;
}
.headings {
	background-color: #333;
}
.headings p {
	font-size: 14px;
	margin-bottom: 35px;
	color: #939393;
}
.row.title__block {
	padding: 40px 0;
}
#feedback {
	color: #1c6107;
}
#feedback ul {
	padding-left: 0;
}
#feedback ul li {
	list-style: none;
}
/* Forms */
.form-control, .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
.form-control:focus {
	border-color: #ffdd3c;
}
/*Buttons*/
.btn-primary {
	font-size: 14px;
	width: 142px;
	height: 42px;
	line-height: 42px;
	padding: 0;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	text-transform: lowercase;
	border-width: 1px;
	color: #333333;
	font-weight: 300;
	border-color: #d7d7d7;
	background: none;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #ebebeb;
	border-color: #ebebeb;
	color: #333;
}
.btn-info {
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	border-color: #fff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	background: none;
	text-transform: lowercase;
	width: 140px;
	height: 40px;
	line-height: 40px;
	padding: 0;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
	background-color: #fff;
	border-color: #fff;
	color: #3eacf1;
}
.btn-default {
	font-size: 14px;
	text-transform: lowercase;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	font-weight: normal;
	color: #fff;
	border-color: #3ba8f0;
	font-family: 'Open Sans', sans-serif;
	background: #3ba8f0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	background: none;
	border-color: #fff;
	color: #fff;
}
button.btn-primary:focus, .btn-default:focus, .btn-info:focus {
	outline: none;
}
.btn-lg {
	width: 140px;
	height: 50px;
	text-transform: lowercase;
	line-height: 50px;
	padding: 0;
}
.btn-md {
	font-size: 14px;
	width: 140px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin-top: -5px;
}
footer .btn-md, .recent-posts .btn-md {
	margin-top: 0px;
}
/*Header*/
header {
	background: transparent;
	width: 100%;
	position: relative;
	z-index: 112;
	top: 0;
	padding: 30px 0;
}
header.normal {
	position: relative;
	background: #333;
}
/*.navbar-header { position: absolute; left: 50%; top: 0px; margin-left: -80px;
}*/

/*.navbar-toggle {
	margin-right: 0;
	position: absolute;
}*/

/*
    Navbrand hover issues

*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	font-size: 30px;
	/*margin: 0;
	margin-left: 0px;*/
	display: block;
	color: #fff;
	/*border: 1px solid #fff;*/
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 15px;
    font-family:'Arvo', serif;
}

.navbar-brand {
  float: left;
  height: 59px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-brand a {
	color: #fff;
	text-decoration: none;
}
.navbar-default .navbar-brand a span {
	color: #e74c3c;
}
.navbar-default .navbar-brand span {
	color: #e74c3c;
}
/*Main Navigaion Menu*/
/*.dropdown:hover .dropdown-menu {
	display: block;
}*/


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #000;
}
.navbar-default {
	background: none;
	border: none;
	margin-bottom: 0px;
	position: relative;
	z-index: 999;
}
.navbar-default .navbar-nav {
	padding: 0px;
}
.navbar-default .navbar-nav>li {
	padding: 0;
	margin-left: 40px;
}
.navbar-default .navbar-nav>li:hover {
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	border-bottom: 2px solid transparent;
	font-size: 11px;
	padding: 20px 15px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-transform: uppercase;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
 color: #fff;

}
.navbar-default .navbar-nav>li.dropdown>a {
	background: none;
}
.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>li.open>a, .navbar-default .navbar-nav>li.active>a:hover {
	background: none;
	border-color: #3eacf1;
	color: #fff;
}
.navbar-default .navbar-nav>li:first-child {
	margin-left: 0px;
}
ul.dropdown-menu {
	left: 0px !important;
	border-radius: 0px;
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border: none;
	background: #fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	top: 85%;
	opacity: 0;
	visibility: hidden;
}
.dropdown:hover .dropdown-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
}
ul.dropdown-menu li {
	border-bottom: 1px solid #ededed;
}
ul.dropdown-menu li:last-child {
	border-bottom: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
ul.dropdown-menu li:first-child {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
ul.dropdown-menu>li>a {
	color: #2a2a2a;
	border-top: none;
	font-size: 11px;
	line-height: 11px;
	padding: 15px 20px;
	text-transform: uppercase;
}
ul.dropdown-menu>li>a:hover {
	color: #fff;
	border-top: none;
	background: #2a2a2a;
}
/*Carousel*/
.slider {
	position: fixed;
	top: 0px;
	background-color: #333;
	height: 100%;
	width: 100%;
	z-index: 5;
}
.absolute__img {
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -49px;
	z-index: 99;
}
.slider .btn {
	margin: 0px 10px 0;
}
.carousel-caption {
	top: 50%;
	margin-top: -170px;
	font-size: 14px;
	color: #ffffff;
	text-transform: none;
	text-shadow: 1px 1px 3px #666666;
}
.carousel-caption h1 {
	font-size: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	display: inline-block;
	padding: 15px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}
.carousel-caption p {
	text-shadow: 1px 1px 3px #666666;
	font-weight: 400;
	margin: 30px 0 35px 0;
}
.carousel-caption h1 span {
	color: #ffdd3c;
	border: 2px solid #fff;
	padding: 0 4px 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.carousel-control {
	background: none;
	opacity: 1;
	position: absolute;
	top: 0%;
	margin-top: 0px;
	-moz-opacity: 1;
}
.carousel-control span {
	position: absolute;
	top: 50%;
	margin-top: -27px;
}
.carousel-control .carousel-control-left {
	background: url('../../media/Images/slider/prev.png') no-repeat;
	width: 54px;
	height: 52px;
	left: 25px;
}
.carousel-control .carousel-control-right {
	background: url('../../media/Images/slider/next.png') no-repeat;
	width: 54px;
	height: 52px;
	right: 25px;
}
.carousel-control .carousel-control-left:hover {
	background: url('../../media/Images/slider/prev_a.png') no-repeat;
}
.carousel-control .carousel-control-right:hover {
	background: url('../../media/Images/slider/next_a.png') no-repeat;
}
.boxess .carousel-control .carousel-control-left {
	top: 50%;
	margin-top: -27px;
}
.boxess .carousel-control .carousel-control-right {
	top: 50%;
	margin-top: -27px;
}
.boxess .carousel-caption {
	top: 90px;
	margin-top: 0px;
}
.boxess {
	background-color: #333;
	padding-bottom: 25px;
	position: relative;
}
.boxess .carousel-caption h1 {
	font-size: 40px;
	line-height: 40px;
}
/*Titles*/
.row.nice__title {
	background: url('../../media/Images/big_line_bg.jpg') no-repeat;
    /*background-size:100% 100%;*/
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	padding: 40px 0 60px 0;
	margin-top: -5px;
	color: #bab9b9;
}
.nice__title h2 {
	color: #fff;
}
.row.nice__title img {
	margin: 35px auto;
}
.row.nice__title p.smaller {
	color: #95a5a6;
}
/*Container*/
.main__middle__container .row ul, .main__middle__container .row ol {
	padding-left: 20px;
}
.main__middle__container {
	width: 100%;
}
.homepage {
	position: relative;
	margin-top: 50%;
	z-index: 111;
	background: #fff;
}
.row {
	padding: 45px 0;
}
.row.with__sep {
	background: url('../../media/Images/lines.png') repeat-x left bottom;
}
.container .row:first-child {
    padding:75px 10% 75px 10%;
}
p.big-paragraph {
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 15px;
	color: #e8bd10;
}
.orange {
	color: #3eacf1;
	font-size: 14px;
	text-transform: none;
	padding: 0 0 10px 0;
}
.black-text {
	color: #1e1e1e;
}
.to_top {
	margin-top: -80px !important;
}
.line__bg {
	width: 100%;
	margin: 0;
	padding: 45px 0;
	background: url('../../media/Images/image_1920x1564.jpg') no-repeat;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.line__bg.other {
	background-position: 0 100%;
	padding: 65px 0;
}
.line__bg h1 {
	color: #fff;
}
.line__bg h2 {
	color: #fff;
	line-height: 36px;
	border: 1px solid #fff;
	padding: 5px 10px;
	display: inline-block;
}
.line__bg p {
	color: #fff;
}
.testimonials p {
	color: #fff;
	text-transform: none;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}
.testimonials p.smally {
	margin-top: -55px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #bab9b9;
}
.testimonials p small {
	font-size: 14px;
	color: rgba(255,255,255,0.8);
	font-weight: normal;
}
.testimonials p.small-paragrapher {
	text-transform: uppercase;
	font-size: 14px;
	padding: 40px 0 20px 0;
	font-weight: bold;
	color: rgba(255,255,255,0.8);
}
img.full-width {
	width: 100%;
}
.line__bg ol.carousel-indicators {
	bottom: -10px;
	padding-left: 0;
}
.line__bg .carousel-indicators li {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border: none;
	margin: 0 3px;
	width: 10px;
	height: 11px;
	background: url('../../media/Images/slider/pager.png') no-repeat center center;
}
.line__bg .carousel-indicators li.active, .line__bg .carousel-indicators li:hover {
	background: url('../../media/Images/slider/pager_a.png') no-repeat center center;
}
/*Icons Blocks*/
.icons__blocks {
	background: url('../../media/Images/bg_pattern.png') repeat left center;
	width: 100%;
	margin: 0;
	padding: 80px 0 80px;
}
.icons__blocks h2 {
	color: #fff;
	background: url('../../media/Images/lines.png') repeat-x left center;
}
.icons__blocks h3 a {
	color: #fff;
}
.icons__blocks h3 a:hover {
	color: #77beec;
}
.icons__blocks h2 span {
	background: url('../../media/Images/bg_pattern.png') repeat left center;
	padding: 0 40px;
}
.icons__blocks p.small-paragraph {
	position: relative;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 40px;
	color: #5c5c5c;
	font-weight: 800;
}
.icons__blocks p {
	margin-top: 20px;
}
.icons__blocks img.img-rounded {
	width: 100%;
}
.separator {
	background: url('../../media/Images/lines.png') repeat-x left 30px;
}
.separator.sub {
	position: relative;
	top: 80px;
	margin-bottom: 20px;
}
/* grey-info-block */
.grey-info-block {
	width: 100%;
	margin: 0;
	background: url('../../media/Images/pattern.jpg') repeat;
	margin-top: 0px;
	z-index: 9;
	padding: 45px 0;
	color: #fff;
}
.grey-info-block>.container {
	position: relative;
}
.grey-info-block h2 {
	color: #fff;
	border-color: #fff;
}
.grey-info-block h3 {
	padding-bottom: 10px;
	color: #fff;
}
.grey-info-block .col-md-6 img {
	width: 100%;
	margin: 0;
	height: auto;
}
.grey-info-block p.small-paragraph {
	padding: 15px 0 20px 0;
}
.grey-info-block img {
	margin-bottom: 20px;
}
.grey-info-block .btn {
	margin-top: 10px;
}
/*Three Blocks*/
.three__blocks {
	padding-top: 50px !important;
	background-color: #f8f8f8;
	background-size: auto 100%;
	position: relative;
	z-index: 99;
}
.three__blocks p.smaller {
	color: #a4a4a4;
	font-size: 12px;
	font-weight: 300;
}
.three__blocks.bottomer {
	background-position: left bottom;
	background-size: auto auto;
}
.three__blocks .container>h3 {
	font-size: 36px;
	color: #2c3e50;
}
.three__blocks .col-md-4 h3 a {
	background: url('../../media/Images/icons/ico1.png') no-repeat center top;
	padding-top: 80px;
	padding-bottom: 0px;
	display: block;
}
.three__blocks .col-md-4 h3 a:hover {
	background: url('../../media/Images/icons/ico1_a.png') no-repeat center top;
}
.three__blocks .col-md-4.middle h3 a {
	background: url('../../media/Images/icons/ico2.png') no-repeat center top;
}
.three__blocks .col-md-4.middle h3 a:hover {
	background: url('../../media/Images/icons/ico2_a.png') no-repeat center top;
}
.three__blocks .col-md-4:last-child h3 a {
	background: url('../../media/Images/icons/ico3.png') no-repeat center top;
}
.three__blocks .col-md-4:last-child h3 a:hover {
	background: url('../../media/Images/icons/ico3_a.png') no-repeat center top;
}
.three-blocks {
	background: url('../../media/Images/line_bg.jpg') no-repeat center top;
	background-size: 100% 100%;
}
.three-blocks .container .row:first-child {
	padding: 55px 10%;
}
.three-blocks h2 {
	color: #fff;
	text-transform: none;
	padding: 0;
}
.three-blocks p {
	padding: 15px 0 0 0;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
}
.three__blocks p.smaller {
	margin-top: -10px;
	margin-bottom: 20px;
}
.three__blocks p.smaller small {
	font-size: 14px;
	color: #a5a5a5;
}
.three__blocks img {
	margin: 0 auto 20px auto;
}
.three__blocks p:last-child {
	margin-top: 30px;
}
/* Recent Posts */
.recent-posts {
}
.recent-posts>.container {
	position: relative;
}
.recent-posts .sep img {
	background: url('../../media/Images/bg_pattern.jpg') repeat;
}
.recent-posts .col-md-9, .recent-posts .col-md-3 {
	margin-top: 40px;
}
.recent-posts .col-md-9 .text {
	float: left;
	width: 55%;
	margin-left: 2%;
}
.recent-posts .col-md-9 .text h3 {
	margin-top: -1px;
	margin-bottom: 0px;
	line-height: 24px;
}
.recent-posts .col-md-9 .text p {
	padding: 5px 0;
}
.recent-posts .col-md-9 .text p.small-paragraph {
	margin-bottom: 10px;
	text-transform: none;
	font-size: 14px;
	font-family: "Arvo", sans-serif;
	color: #d6d6d6;
	font-weight: normal;
}
.recent-posts .col-md-9 img {
	width: 43%;
}
.recent-posts .col-md-9 article {
	margin-bottom: 50px;
}
.recent-posts .col-md-3 .icon-item {
	border-bottom: 1px solid #e4e4e4;
	padding: 20px 0;
}
.recent-posts .col-md-3 .icon-item:first-child {
	padding-top: 0px;
}
.recent-posts .col-md-3 .icon-item:last-child {
	border-bottom: none;
}
.recent-posts .col-md-3 .icon-item h4 {
	padding: 0;
}
.recent-posts .col-md-3 .icon-item p.small-paragraph {
	margin-bottom: 0px;
	text-transform: none;
	font-size: 14px;
	font-family: "Arvo", sans-serif;
	color: #d6d6d6;
	font-weight: normal;
}
/*Social Icons*/
.socialicon {
	position: relative;
	display: inline-block;
	width: 40px;
	margin-right: 5px;
	height: 41px;
}
.socialicon-twitter {
	background: url('../../media/Images/social/twitter.png') no-repeat;
}
.socialicon-facebook {
	background: url('../../media/Images/social/facebook.png') no-repeat;
}
.socialicon-google {
	background: url('../../media/Images/social/google.png') no-repeat;
}
.socialicon-mail {
	background: url('../../media/Images/social/mail.png') no-repeat;
}
.socialicon-twitter:hover {
	background: url('../../media/Images/social/twitter_a.png') no-repeat;
}
.socialicon-facebook:hover {
	background: url('../../media/Images/social/facebook_a.png') no-repeat;
}
.socialicon-google:hover {
	background: url('../../media/Images/social/google_a.png') no-repeat;
}
.socialicon-mail:hover {
	background: url('../../media/Images/social/mail_a.png') no-repeat;
}
/* Contact Form */
.contact-form {
}
.contact-form .col-md-6 {
	padding: 0 20px 0 0;
}
.contact-form .col-md-6:nth-child(2) {
	padding: 0 0px 0 0;
}
/* Aside */
aside h3 {
	line-height: 11px;
	margin-bottom: 40px;
}
aside img {
	width: 100%;
	margin-bottom: 10px;
}
aside ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
}
aside ul li:last-child {
	border-bottom: none;
}
aside a.btn {
	margin: 20px 0 40px;
}
/* Main Content*/
.main-content h2 {
	line-height: 11px;
	margin-bottom: 40px;
}
/* Footer */
footer {
	background: url('../../media/Images/pattern.jpg') repeat;
	position: relative;
	z-index: 111;
	color: #fff;
	/*font-size: 300px;*/
}
footer a {
	color: #333;
}
footer h3 {
	padding-bottom: 20px;
	color: #fff;
}
footer hr {
	border-top: 1px solid #4e4e4e;
	margin: 40px 0 0 0;
}
footer p span {
	color: #333;
}
footer>.container>.row:first-child {
	padding: 45px 0;
}
footer .text-center {
	padding: 40px 0;
	margin: 0;
}
footer .form-group {
	width: 90%;
}
footer button.btn-info {
	position: relative;
	top: 10px;
}
footer button.btn-info:focus {
	outline: none;
}
/*Responsive - debugging default problems*/
.img-responsive {
	margin: 0 auto;
}

.no-margin {
	position: relative;
	margin: 0;
}
.no_padding {
	padding: 0px 0 80px 0;
}
.row.nothing {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.copyright {
	background-color: #f8f8f8;
	padding: 30px 0;
	color: #333;
	position: relative;
	z-index: 200;
	margin: 0;
}

 @media(max-width:1600px) {
}
@media(max-width:1310px) {
.carousel-caption {
	font-size: 14px;
	top: 55%;
}
.carousel-caption h1 {
	font-size: 24px;
	line-height: 24px;
}
.slider .btn {
	margin: 0 10px;
}
.carousel-caption p {
	margin: 30px 0;
}
}

@media(max-width:1200px) {
.navbar-default .navbar-nav>li {
	margin-left: 10px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	/*margin-left: 0px;*/
}

}


@media(max-width:990px) {
.main__middle__container h3.heading.white {
	background: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	/*margin-left: -10px;*/
}
.icon-item {
	text-align: center;
}
.carousel-caption {
	font-size: 13px;
	top: 50%;
	margin-top: -70px;
	left: 15%;
	right: 15%;
}
.carousel-caption h1 {
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 0px;
	padding: 5px;
	background: none;
}
.carousel-caption p {
	margin: 10px 0;
}
.boxess .carousel-caption h1 {
	font-size: 20px;
	line-height: 20px;
}
.carousel-control .carousel-control-left {
	left: 5px;
}
.carousel-control .carousel-control-right {
	right: 5px;
}
.carousel-control {
	width: auto;
}
.boxess .carousel-control {
	width: auto;
	top: 50%;
	margin-top: -27px;
}
.boxess .carousel-caption {
	top: 50%;
	margin-top: -80px;
}
.navbar-default .navbar-nav>li {
	margin-left: -5px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 10px;
}
}

@media(max-width:768px) {
h1.page_title {
	padding: 20px 30px;
}
.recent-posts .col-md-9 .text {
	margin-left: 0px;
}
.navbar-toggle {
	top: 25px;
}
.recent-posts .col-md-9 .text h3 {
	margin-top: 15px;
	margin-bottom: 5px;
}
.three-blocks p {
	padding: 20px 0 10px 0;
	margin-bottom: 0px;
}
.recent-posts .col-md-9 .text, .recent-posts .col-md-9 img {
	float: left;
	width: 99%;
}
header.with-boxed {
	height: auto;
}
}


@media(max-width:767px) {
/*.navbar-collapse {
	height: 0px;
	border-top: none;
	overflow: hidden;
}
*/
header {
	/*padding: 30px 0;
	z-index: 1000;*/
	background: #000 !important;
}
/*.navbar-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}*/


.navbar-collapse {
	box-shadow: inset 0 0px 0 rgba(255,255,255,0.0);
	-webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.0);
}
.navbar-collapse.navbar-left {
	margin-top: 70px;
	overflow: visible;
	margin-bottom: -20px;
}
.navbar-collapse.in {
	display: block !important;
}
.navbar-default .navbar-nav {
	padding: 0;
}
.navbar-default .navbar-nav .open .dropdown-menu>li {
	display: block;
	width: 100%;
    border-color:transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
	display: block;
	width: 100%;
    text-align:center;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #fff;
	background-color: #222;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:focus:hover {
	color: #fff;
	background-color: transparent;
}
.navbar-default ul.dropdown-menu {
	background: #000;
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 10px 15px 9px 10px;
}
.navbar-default .navbar-nav>li {
	display: block;
	padding: 10px 0;
	text-align: center;
	margin-left: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
	/*background-color: #fff;*/
}
.navbar-default .navbar-toggle {
	border-color: #fff;
	top: 5px;
	right: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #222;
}
.navbar-default .navbar-nav>li a {
	padding: 5px 0;
}
.three-blocks {
	background-size: 100% 100%;
}
.navbar-default .navbar-nav>li a {
	color: #FFF;
    padding:7px 0px 10px 0px;
}
}
    
@media(max-width:700px) {
.slider .btn {
	display: none;
}
}

@media(max-width:575px) {
.carousel-caption {
	display: none;
}
}
.carousel-fade {
}
 .carousel-inner 
 .item {
 opacity: 0;
 transition-property: opacity;
}
 .active {
 opacity: 1;
}
 .active.left,  .active.right {
 left: 0;
 opacity: 0;
 z-index: 1;
}
 .next.left,  .prev.right {
 opacity: 1;
}

.carousel-control {
	z-index: 2;
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
/* Portfolio */
#portfolio {
	padding: 30px 0px 40px 0px;
	overflow: hidden;
}
#portfolio ul.controls {
	padding: 0px 0 20px 2px;
	overflow: hidden;
	margin: 20px 0;
	border-bottom: #3EACF1 solid 2px;
}
#portfolio ul.controls li {
	float: left;
	color: #000;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 15px;
	cursor: pointer;
}
#portfolio ul.controls li:hover, #portfolio ul.controls li.active {
	padding: 4px 15px;
	color: #3EACF1;
	margin: 0 -1px;
	border: 1px solid #3EACF1;
}
#portfolio ul#Grid {
	margin: 0 0 30px 0;
	padding: 0;
	position: relative;
}
#portfolio ul#Grid li {
	padding: 0 1px 1px 0;
	margin: 0;
	display: none;
	position: relative;
}
#portfolio ul#Grid li a {
	display: block;
	position: relative;
	color: #fff;
}
#portfolio ul#Grid li span.overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	text-indent: -9999px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	background: #000;
}
#portfolio ul#Grid li:hover span.overlay {
	visibility: visible;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
#portfolio ul#Grid a.link {
	padding: 0px 10px;
	height: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 10;
	overflow: hidden;
	font-size: 22px;
	font-weight: 400;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #FFF;
	line-height: 30px;
	background: #3EACF1;
}
#portfolio ul#Grid li:hover a.link {
	background: #3EACF1;
	opacity: 0.9;
}
#portfolio ul#Grid a.link span {
	color: #f9f9f9;
	font-weight: 400;
	display: block;
	font-size: 14px;
	text-transform: none;
	line-height: 22px;
}
#portfolio ul#Grid a.link:after {
	border-color: rgba(63, 141, 191, 0);
	border-bottom-color: #3EACF1;
	border-width: 10px;
	margin-left: -10px;
}
#portfolio ul#Grid a.link:before {
	border-color: rgba(63, 141, 191, 0);
	border-bottom-color: #3EACF1;
	border-width: 16px;
	margin-left: -16px;
}
#portfolio ul#Grid li:hover a.link {
	padding: 10px 10px;
	height: auto;
	overflow: visible;
	text-decoration: none;
}
/*
MENU CSS
*/
a.submenu {
	display: none;
	position: absolute;
	right: 5px;
	top: 15px;
	width: 44px;
	height: 34px;
	text-indent: -9999px;
	outline: none;
	-webkit-transition: all ease 0s;
	-moz-transition: all ease 0s;
	-o-transition: all ease 0s;
	transition: all ease 0s;
	background: url('../../media/Images/submenu.png') top left no-repeat;
}
a.submenu:hover {
	background: url('../../media/Images/submenu.png') bottom left no-repeat;
}
.menuBar {
}
.menuBar ul {
	margin: 0px;
	list-style: none;
	float: left;
}
.menuBar .m_right {
	float: right;
}
.menuBar li {
	margin: 0;
	position: relative;
	float: left;
}
.menuBar li:first-child {
	margin-left: 0px;
}
.menuBar li a {
	color: #fff;
	font-size: 11px;
	padding: 20px 15px;
	display: block;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-transform: uppercase;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	line-height: 20px;
	outline: none;
	border-bottom: 2px solid transparent;
}
.menuBar li a:hover, .menuBar li:hover a {
	color: #fff;
	text-decoration: none;
	border-color: #3EACF1;
}
.menuBar li.active a {
	color: #fff;
	border-color: #3EACF1;
}
.menuBar li ul {
	position: absolute;
	left: 0px;
	border-radius: 0px;
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	background: #fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	top: 85%;
	opacity: 0;
	visibility: hidden;
	height: 0px;
}
.menuBar li:hover ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
	height: auto !important;
}
.menuBar li li {
	margin: 0px;
	float: none;
	border-bottom: 1px solid #ededed;
}
.menuBar li li a, .menuBar li:hover li a {
	color: #2a2a2a;
	border: 0px;
	font-size: 11px;
	line-height: 11px;
	padding: 15px 20px;
	text-transform: uppercase;
	white-space: nowrap;
}
.menuBar li li a:hover {
	color: #fff;
	background: #333;
}
 @media(min-width:768px) {
.menuBar, .menuBar ul {
	display: block !important;
}
.menuBar li {
	margin-left: 0px;
}
.menuBar li a {
	font-size: 11px;
	padding: 20px 8px;
}
}
 @media(min-width:992px) {
.menuBar li {
}
.menuBar li a {
	font-size: 11px;
	padding: 20px 15px;
}
}
@media(min-width:1200px) {
.menuBar li {
	margin-left: 40px;
}
.menuBar li a {
	font-size: 11px;
}

}
@media only screen and (max-width: 767px) {
a.submenu {
	display: block;
}
.menuBar {
	padding: 0px 0px 0px 0px;
	margin-top: 80px;
	float: none;
	max-height: 350px;
	overflow: auto;
	width: 100%;
	display: none;
}
.menuBar ul {
	padding: 0px;
	margin: 0px;
	float: none;
}
.menuBar .m_right {
	padding: 0px;
	float: none;
}
.menuBar li {
	margin: 0px;
	float: none;
	text-align: center;
}
.menuBar li a {
	padding: 7px 0px;
	outline: 0px;
}
.menuBar li ul {
	position: static;
	left: 0px;
	top: 0px;
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
	background: none;
}
.menuBar li li {
	border: 0px;
}
.menuBar li li a, .menuBar li:hover li a {
	color: #eee;
}
.menuBar li.dropdown:hover .menuBar li.dropdown.active {
border-bottom: #1BA39C solid 0px;
}
.menuBar li.current {
	border-bottom: #3EACF1 solid 2px;
}
.slider {
	overflow: hidden;
	max-width: 100%;
	top: 80px;
}
.main__middle__container {
	overflow: hidden;
	max-width: 100%;
}
footer {
	overflow: hidden;
	max-width: 100%;
}
.carousel-caption {
	top: 35%;
}
.homepage {
	margin-top: 65%;
}
h1, h2, h3 {
	font-size: 24px;
	line-height: normal;
}
h3 {
	font-size: 20px;
}
#portfolio ul#Grid a.link span {
	font-size: 11px;
	line-height: 15px;
}
#portfolio ul.controls li {
	padding: 5px 10px;
}
}
@media(min-width:768px) and (max-width:991px) {
.menuBar ul {
	padding: 0px;
}
#portfolio ul#Grid a.link {
	font-size: 18px;
}
#portfolio ul#Grid a.link span {
	font-size: 11px;
	line-height: 15px;
}
.slider {
	position: absolute;
}
.boxess {
	position: static;
}
.menuBar li ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
	height: auto;
	display: none !important;
}
.menuBar li:hover ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
	height: auto !important;
	display: block !important;
}
.carousel-caption {
	top: 55%;
}
.carousel-caption a.btn {
	display: none;
}
.main__middle__container {
	overflow: hidden;
}
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	min-width: 100%;
	height: auto;
}
/* Columns */
.one_half_pad {
	width: 44%
}
.one_third_pad {
	width: 27%
}
.one_fourth_pad {
	width: 19%
}
.one_fifth_pad {
	width: 14%
}
.one_sixth_pad {
	width: 10.5%
}
.two_fifth_pad {
	width: 37%
}
.two_third_pad {
	width: 60%
}
.two_fourth_pad {
	width: 43%
}
.two_fifth_pad {
	width: 33%
}
.three_fifth_pad {
	width: 58.4%
}
.three_fourth_pad {
	width: 74%
}
.four_fifth_pad {
	width: 67.2%
}
.five_sixth_pad {
	width: 82.67%
}
.one_half_pad, .one_third_pad, .two_third_pad, .three_fourth_pad, .one_fourth_pad, .one_fifth_pad, .two_fifth_pad, .two_fourth_pad, .two_fifth_pad, .three_fifth_pad, .four_fifth_pad, .one_sixth_pad, .five_sixth_pad {
	float: left;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
	position: relative
}
.one_half {
	width: 48%
}
.one_third {
	width: 30.5%
}
.one_fourth {
	width: 22%
}
.one_fifth {
	width: 16.8%
}
.one_sixth {
	width: 13.33%
}
.two_fifth {
	width: 37.6%
}
.two_third {
	width: 65.33%
}
.two_fourth {
	width: 48%
}
.three_fifth {
	width: 58.4%
}
.three_fourth {
	width: 74%
}
.four_fifth {
	width: 67.2%
}
.five_sixth {
	width: 82.67%
}
.one_half, .one_third, .two_third, .two_fourth, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	float: left;
	margin-bottom: 10px;
	margin-right: 4%;
	position: relative
}
.column-last {
	clear: right;
	margin-right: 0!important
}
.dc_tabs_type_2 .one_third {
	width: 29%
}
.clr {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%
}
.dc_clear {
	clear: both;
	font-size: 0px;
	line-height: 0px;
	margin: 0;
	padding: 0;
	width: 100%
}