﻿.umb-pane {
    border-bottom: 1px solid #F8F8F8;
}
.indent {
    margin-top: 5px;
    margin-left: 20px;
}
.overviewHeader {
    font-size: 16px;   
 font-weight: 900;
    margin-left: 20px;
}

tr.bulkmanagerOverviewRow td:first-child,
tr.bulkmanagerOverviewRowAlt td:first-child
 {
    text-align: center;
}

.bulkmanagerOverviewTable {
    margin: 20px;
    width: 98%;
}
.bulkmanagerPageMain {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold;
    color: #343434;
}

.bulkmanagerPageMain a {
     color: #343434;
}

.BulkManagerHeaderPanel {
    font-size: 16px !important;
    font-weight: normal;
    }

div.alert a {
    color: #fff;
    text-decoration: underline;
}

.bulkmanagerOverviewTable th {
    background-color: #EEEEEE;
}

.bulkmanagerOverviewRowAlt {
    background-color: #EEEEEE;
}

/*Actions*/
.bulkActionOption {
    text-align: left;
}

/*paging*/

select.bulkActionDropdown {
    font-size: 12px;
    line-height: 12px;
    height: 20px;
    padding: 0;
    margin: 0 3px 0 3px;
}

.pagingPanel {
    font-size: 12px;
    color: #343434;
    line-height: 13px;
    width: 97.5%;
    background-color: #EEEEEE;
    height: 35px;
}

.pagingLeft {
    float: left;
    margin: 10px 0 0 5px;
}

.pagingRight {
    float: right;
    margin: 10px 0 0 0;
}

.pagingListBox {
    width: 50px;
    font-size: 12px;
    line-height: 10px;
    height: 20px;
    padding: 0;
    margin: 0 5px 0 5px;
}

.pagingLabel {
    line-height: 16px;
}

.pagingBackButton {
    margin-right: 5px;
    font-weight: 900;
}

.pagingNextButton {
    margin-left: 5px;
    font-weight: 900;
}

    .pagingBackButton:disabled, .pagingNextButton:disabled {
        cursor: default;
        border: none;
    }


.pagingMaxResultDropdown {
    margin-left: 40px;
}

.treeNode {
    margin-top: 2px;
      font-size: 14px !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 400;
    color: #343434;
    
}
.error {
    background-color: #9d261d;
    border-color: transparent;
    color: #fff;
    padding-top: 5px;
    min-height: 40px;
}
.choose {
    font-weight: 700;
}